.main_wrapper{
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.305); */
    height: 100vh;
    max-width: 800px;
    /* display: flex; */
    flex-direction: column;
    margin: 0 auto;
    /* justify-content: center; */
    /* align-items: center; */
    
}
.main_container{
    
    max-width: 100%;
    display: flex;
    text-align: center;
}
.main_train{
    position: absolute;
    top: 10px;
    left: 50px;
    max-width: 270px;
    
}
.main_language{
    position: absolute;
    top: 170px;
    right: 50px;
    max-width: 80px;
    max-height: 80px;
}
.main_content{
    margin: 170px 0 0;
    min-width: 100%;
    list-style: none;
    padding: 0;
}
@media(max-width:500px){
    .main_train{
        position: absolute;
        top: 60px;
        
        max-width: 200px;
        
    }
    .main_language{
        position: absolute;
        top: 170px;
        
        max-width: 70px;
        max-height: 70px;
        
        
    }
}

@media(max-width:380px){
    .main_train{
        position: absolute;
        top: 120px;
        
        max-width: 150px;
        
    }
    .main_language{
        position: absolute;
        top: 200px;
        
        max-width: 50px;
        max-height: 50px;
        
        
    }
}

@media(max-width:300px){
    /* .main_train{
        display: none;
    } */
    .main_language{
        display: none;
    }
}
@media(max-width:250px){
    .main_train{
        display: none;
    }}